<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PPSH RPG</title>
    <script src='static/pixi/pixi.min.js'></script>
    
    <script type="text/javascript">
        let type = "WebGL";
        if (!PIXI.utils.isWebGLSupported()) {
          type = "canvas";
        }
    
        PIXI.utils.sayHello(type);
    </script>
    <script src='static/main.js' type='text/javascript' defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Montserrat:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href='static/styles.css' rel='stylesheet'>
    
</head>
<body>
    <audio id='ppsh' src='static/assets/wpnfire_ppsh_plyr_blnc_ed3.wav'></audio>
    <h1>A Game, supposedly</h1>
</body>
</html>